body {
  background: linear-gradient(to right, black, white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

#square {
  height: 100px;
  width: 100px;
  background-color: rgb(128, 128, 128);
  animation-name: slide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes slide {
  from {
    margin-left: 0px;
  }

  50% {
    margin-left: 90vw;
  }

  to {
    margin-left: 0px;
  }
}